body {
  background-color: #ecf0f1;
}

h1 {
  color: #e67e22;
  transition: color 0.5s ease-in-out;
}

.clicked {
  color: #1abc9c;
}

.btn {
  cursor: pointer;
}

.js-form,
.greeting {
  display: none;
}

.showing {
  display: block;
}
